//
//  same  properties for header and footer
//
.header,
.footer {
    background: map-get($parts, bg);
    color: map-get($parts, color);
    
    & a {
        color: map-get($parts, color);
    }    
}

//
//    HEADER
//

.header {
    & .container {
        position: relative;        
    }
}

.header-logo {
    width: 12.5em;
    
    & a {
        display: block;
        margin: 0 2.5em 0 1.88em;
        width: 9.38em;
        height: 100px;
        background: url('../img/mojeid-logo.svg') center center no-repeat;
        background-size: 100%;
        text-indent: -9999px;       
    }
}

.big-menu {
    height: 100px;
}

.small-menu {    
    & .menu {        
        display: none;
        height: 60px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        & .menu-icon,
        & .search {
            width: 1em;
            height: auto;
            text-indent: -9999px;
        }

        & .header-logo {       
            & a {
                margin: 0 auto;
                width: 100px;
            }
        }

        & .menu-icon {
            margin-left: 2em;
            background: url('../img/header-burger.svg') center center no-repeat;        
        }

        & .search {
            margin-right: 2em;
            background: url('../img/header-hledat.svg') center center no-repeat;
        }
    }
    
    & .header-nav {
        display: none;
        width: 100%;
        background: map-get($parts, bg);
        text-align: center;
        
        & ul {
            border-bottom: none;
            border-top: 1px solid darken(map-get($parts, color), 55%);
            
            &:last-child {
                border-top: none;
            }
        }
        
        & .navigation {
            margin-bottom: 1em;
            & li {
                display: block;
                margin: .5em 0;
            }
        }
        
        & .login {
            position: static;
            margin: {
                top: 1.2em;
                bottom: 1.5em;
            }
        }
    }
}

.search-bar {
    display: none;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .95;
    background: map-get($parts, bg);
    
    & .escape {
        display: block;
        margin: {
            top: 2%;
            left: 5%;
        }
        
        width: 3em;
        height: 3em;
        background: url('../img/escape-cross.png') center center no-repeat;
        background-size: 2.5em;
        text-indent: -9999px;
        opacity: .5;
        transition: all .4s ease;
        
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    
    & form {
        width: 75%;
        margin: {
            top: -4%;
            left: 25%;
        }
        
        & input {
            width: 50%;
            margin-right: 20%;
            background: none;
            border: none;
            font-size: 2em;
            padding: .2em;
            
            border-bottom: 2px solid map-get($parts, color);
            opacity: .5;
            transition: all .4s ease;
            
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
        
        & button {
            background: none;
            border: none;
            transform: rotate(90deg);
            opacity: .5;
            
            cursor: pointer;
            transition: all .4s ease;
            
            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }
}

.header-nav {
    position: relative;
    width: 80%;
    float: right;
    
    & ul {
        margin: 0;
        padding-left: 0;
    }
    
    & li {
        display: inline-block;
        margin: 0 .5em 0 0;
    }
    
    & .select a,
    & .login a {
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: bold;
    }
    
    & .select {
        margin: 0;
        padding: 1em 0;
        margin-right: 9em;
        border-bottom: 1px solid darken(map-get($parts, color), 55%);
            
        & a {
            opacity: 0.4;
            transition: all .3s ease;
        }
        
        & li:after {
            content: '|';
            margin-left: .8em;
            opacity: 0.4;
        }
        
        & li:last-child:after {
            content: none;
        }
        
        & a:hover,
        & a:focus,
        & .selected {
            opacity: 1;
        }
    }
    
    & .login {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -.5em;
        
        & a {
        padding: .5em .7em .4em;
            background: #f2f2f2;
            color: map-get($parts, bg);
            border-radius: .2em;
            transition: all .3s ease;
        }
        
        & a:hover {
            opacity: .7;
        }           
    }
        
    & .navigation {
        padding-top: 1em;
        
        & .search {
            width: 1em;
            display: block;
            text-indent: -9999px;
            background: url('../img/header-hledat.svg') center center no-repeat;
            background-size: 1em;
        }
        
        & li {
            margin-right: 1.813em;
            padding-bottom: .5em;
            border-bottom: 2px solid map-get($parts, bg);
            transition: border-bottom .3s ease;
            
            &:last-child {
                margin-right: 0;
                border-bottom: none;
            }
        }
        
        & li:hover,
        & li:focus {
            border-bottom: 2px solid map-get($parts, color);
        }
        
        & li:last-child:hover,
        & li:last-child:focus {
            border-bottom: none;
        }
    }
}